*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    
    
    
    body{
    background: rgb(13, 13, 71);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:wheat;
    }
    
    h1{
    text-align: center;
        margin:10px, auto;
    }
    
    
    input{
        background-color:peachpuff;
        margin:5px;
        height:30px;
        text-align: center;
        box-shadow: 1px 1px;
    }
    
    .addTab{                         /*parent element*/
    position: absolute;
    top:20%;
    left:20%;
    
    }
    
    
    .addTab--div{                          /*child element of parent addTab*/
    display:inline-block;
    height:100px;
    width:300px;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px;
    text-align: center;
    margin:10px;
    
    
    }
    
    .displayTab{          /*parent element */
        color:black;
        position: absolute;
        top:50%;
    left:20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:960px;
    background-color: cornflowerblue;
    box-shadow: 2px 2px;
    padding:15px;
    }
    
    select{
    height:30px;
    border:2px solid black;
    border-radius: 5px;
    
    }
    
    .buttonSpan{
        display:flex;
        justify-content: center;
    }
    
    
    button{
    margin:10px;
        border-radius: 5px;
        color: white;
        background-color: #111213;
        padding: 5px;
        height:30px;
    
    }
    
    button:hover {
        animation-name: background-color;
        animation-duration: 500ms;
    
    animation-fill-mode:forwards;
    
      }
      @keyframes background-color {
        100% {
          background-color: #4b4f53;
        }
      }
    
      @media(max-width:600px){
        h2{
    
            font-size: 20px;;
        }
        .addTab{
    
    top:10%;
    border:1px solid black;
        }
        
    
    .addTab--div{
        display:block;
        width:200px;
        height:50px;
    
    }
        .displayTab{ 
            top:50%;
    
    width:200px;
    
    
         }
    
    
      }
      