/*mobile version*/

@media(max-width:600px){
  h2{

      font-size: 20px;;
  }
  .addTab{
top:10%;
  }
  

.addTab--div{
  display:block;
  width:50vw;
  height:10vh;

}

form{
  margin:5px;
display:flex;
flex-direction:column;

}


  .displayTab{ 
width:10vw;
padding:5px;
   }
   select{
    width:50px;
    margin:0 auto;
   }
 


}
/*tab version */
@media(max-width:1030px){
  .addTab{

    top:10%;
    
      }

      .addTab--div{
        display:block;
        width:50vw;
        height:10vh;
      
      }

      .displayTab{ 
        top:50%;
        left:10%;
        width:700px;
        height:400px;
        max-width: 80%;
    
  
     }

     input{
    font-size:20px;
      height:40px;
     }

     select{
      width:35px;
      
     }

     button{

      height:40px;
       }


}