.addTab{                         /*parent element*/
    position: absolute;
    top:20%;
    left:20%;
    
    }
    
    
    .addTab--div{                          /*child element of parent addTab*/
    display:inline-block;
    height:12vh;
    width:20vw;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px;
    text-align: center;
    margin:10px;
    
    }
    
    