* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #0d0d47;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: wheat; }

h1 {
  text-align: center;
  margin: 10px auto; }

.addTab {
  /*parent element*/
  position: absolute;
  top: 20%;
  left: 20%; }

.addTab--div {
  /*child element of parent addTab*/
  display: inline-block;
  height: 12vh;
  width: 20vw;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
  text-align: center;
  margin: 10px; }

.displayTab {
  /*parent element */
  color: black;
  position: absolute;
  top: 50%;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  width: 70vw;
  background-color: cornflowerblue;
  box-shadow: 2px 2px;
  padding: 15px; }

select {
  width: 35px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px; }

input {
  background-color: peachpuff;
  margin: 5px;
  height: 30px;
  text-align: center;
  box-shadow: 1px 1px; }

.buttonSpan {
  display: flex;
  justify-content: center; }

button {
  margin: 10px;
  border-radius: 5px;
  color: white;
  background-color: #111213;
  padding: 5px;
  height: 30px; }

button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards; }

@keyframes background-color {
  100% {
    background-color: #4b4f53; } }

/*mobile version*/
@media (max-width: 600px) {
  h2 {
    font-size: 20px; }
  .addTab {
    top: 10%; }
  .addTab--div {
    display: block;
    width: 50vw;
    height: 10vh; }
  form {
    margin: 5px;
    display: flex;
    flex-direction: column; }
  .displayTab {
    width: 10vw;
    padding: 5px; }
  select {
    width: 50px;
    margin: 0 auto; } }

/*tab version */
@media (max-width: 1030px) {
  .addTab {
    top: 10%; }
  .addTab--div {
    display: block;
    width: 50vw;
    height: 10vh; }
  .displayTab {
    top: 50%;
    left: 10%;
    width: 700px;
    height: 400px;
    max-width: 80%; }
  input {
    font-size: 20px;
    height: 40px; }
  select {
    width: 35px; }
  button {
    height: 40px; } }
